# Git
.git
.gitignore

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment variables (passed at runtime)
.env

# Large Media / Data
Inputs/
outputs/
Snapshots/
aaa/
*.mp4
*.m4a
*.mp3
*.wav

# Logs
*.log

# Temp
temp_processing/
tmp/
