# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Environment files
.env
.env.*
!*.env.example

# IDE specific files
.vscode/

# Other
*.mp4
*.txt
!requirements.txt